body {
  background-color: #fff;
}

img.mailerlite-logo {
  width: 130px;
  margin-bottom: 3px;
}

button.btn-primary {
  background: #09C269;
  border: 0;
}
button.btn-primary:hover, button.btn-primary:focus {
  background: #05b15e;
}

.btn-link {
  color: #09C269;
}
.btn-link:hover, .btn-link:focus {
  color: #05b15e;
}

#tbl-subscribers .text-primary {
  color: #09C269 !important;
}
#tbl-subscribers a.text-primary:hover, #tbl-subscribers a.text-primary:focus {
  color: #0a8a4c !important;
}

a.page-link {
  color: #09C269;
}

.page-item.active .page-link {
  background-color: #09C269;
  border-color: #09C269;
}

.nav li.nav-item .navbar-brand {
  padding: 0;
}
.nav li.nav-item .navbar-brand img {
  width: 120px;
  margin-top: 13px;
}
.nav li.nav-item.active a {
  color: #09C269 !important;
  border-bottom: 1px #09C269 solid;
  border-radius: 0;
}
.nav li.nav-item a.nav-link {
  padding-bottom: 0;
  padding-top: 14px;
  font-size: 20px;
}

.container.keys-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
  margin-top: 230px;
}

.key-wrapper {
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 22px;
}
.key-wrapper form {
  margin: 0;
  display: initial;
}
.key-wrapper form button {
  padding: 4px 2px;
}
.key-wrapper span {
  padding-right: 10px;
  text-decoration: underline;
}
